html > ::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

* {
    font-family: terminus !important;
}

/* Color overrides */

* {
    background: #080C0D !important;
    color:      #DDCCBB !important;
}

a[href], a[href] * {
    color: #FFAA0F !important;
}

a:visited, a:visited * {
    color: #FF5D4A !important;
}

span.qutehint {
    opacity: 100% !important;
    background: rgba(0, 0, 0, 0.8) !important;
    color: #B3FF1D !important;
    outline: 1px solid rgba(179,255,29,1) !important;
    padding: 2px !important;
}

span.qutehint > font {
    color: #e51688 !important;
}

/* For github stuff */

.discussion-timeline {
    width: 80% !important;
}

.new-discussion-timeline, .experiment-repo-nav {
    width: 90% !important;
}

/* For 4chan */

div#quickReply textarea {
    width: 450px !important;
    height: 500px !important;
}

span.quote {
    color: #789922 !important;
}

div.postContainer > div.post > div.file {
    width: 800px !important;
}

/* TeX images */

img.tex, img.numberedequation, img.inlineformula, span.math {
    background-color: #bbb !important;
    padding: 1px !important;
}

span.math * {
    background: none !important;
    border-color: black !important;
}

/* Ad element hiding */

div#_Ltg { /* google search results */
    display: none !important
}

div.pyv-afc-ads-container { /* youtube search results */
    display: none !important
}
