[Unit]
Description=Automatically force stuff into ZFS cache on boot and regularly

[Timer]
OnBootSec=5m
OnUnitActiveSec=60m

[Install]
WantedBy=timers.target
